    /*
    Flaticon icon font: Flaticon
    Creation date: 28/07/2018 09:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-iron-1:before { content: "\f100"; }
.flaticon-door-hanger-1:before { content: "\f101"; }
.flaticon-food:before { content: "\f102"; }
.flaticon-rooms:before { content: "\f103"; }
.flaticon-socket:before { content: "\f104"; }
.flaticon-luggage:before { content: "\f105"; }
.flaticon-egg:before { content: "\f106"; }
.flaticon-wifi-1:before { content: "\f107"; }
.flaticon-bathtub:before { content: "\f108"; }
.flaticon-hotel-6:before { content: "\f109"; }
.flaticon-telephone-1:before { content: "\f10a"; }
.flaticon-maid:before { content: "\f10b"; }
.flaticon-tray:before { content: "\f10c"; }
.flaticon-bathrobe:before { content: "\f10d"; }
.flaticon-mirror:before { content: "\f10e"; }
.flaticon-bed:before { content: "\f10f"; }
.flaticon-receptionist-1:before { content: "\f110"; }
.flaticon-calendar:before { content: "\f111"; }
.flaticon-hotel-5:before { content: "\f112"; }
.flaticon-bell-1:before { content: "\f113"; }
.flaticon-air-conditioner:before { content: "\f114"; }
.flaticon-24-hours-1:before { content: "\f115"; }
.flaticon-washing-machine:before { content: "\f116"; }
.flaticon-towel-1:before { content: "\f117"; }
.flaticon-coffee:before { content: "\f118"; }
.flaticon-elevator-1:before { content: "\f119"; }
.flaticon-card:before { content: "\f11a"; }
.flaticon-passport-1:before { content: "\f11b"; }
.flaticon-hair-dryer-1:before { content: "\f11c"; }
.flaticon-hotel-4:before { content: "\f11d"; }
.flaticon-wine:before { content: "\f11e"; }
.flaticon-interior-design:before { content: "\f11f"; }
.flaticon-no-smoking-1:before { content: "\f120"; }
.flaticon-hotel-3:before { content: "\f121"; }
.flaticon-hotel-2:before { content: "\f122"; }
.flaticon-key-1:before { content: "\f123"; }
.flaticon-safe-box:before { content: "\f124"; }
.flaticon-receptionist:before { content: "\f125"; }
.flaticon-24-hours:before { content: "\f126"; }
.flaticon-taxi-1:before { content: "\f127"; }
.flaticon-steak:before { content: "\f128"; }
.flaticon-money:before { content: "\f129"; }
.flaticon-parking-1:before { content: "\f12a"; }
.flaticon-family:before { content: "\f12b"; }
.flaticon-scissors:before { content: "\f12c"; }
.flaticon-sunbed:before { content: "\f12d"; }
.flaticon-swimming-pool:before { content: "\f12e"; }
.flaticon-tv:before { content: "\f12f"; }
.flaticon-hotel-1:before { content: "\f130"; }
.flaticon-bike:before { content: "\f131"; }
.flaticon-lobby-boy:before { content: "\f132"; }
.flaticon-plumber:before { content: "\f133"; }
.flaticon-iron:before { content: "\f134"; }
.flaticon-open-sign:before { content: "\f135"; }
.flaticon-location:before { content: "\f136"; }
.flaticon-golf:before { content: "\f137"; }
.flaticon-document:before { content: "\f138"; }
.flaticon-roll:before { content: "\f139"; }
.flaticon-clock:before { content: "\f13a"; }
.flaticon-door-hanger:before { content: "\f13b"; }
.flaticon-bell:before { content: "\f13c"; }
.flaticon-suitcase:before { content: "\f13d"; }
.flaticon-bathroom:before { content: "\f13e"; }
.flaticon-kettle:before { content: "\f13f"; }
.flaticon-towel:before { content: "\f140"; }
.flaticon-beer:before { content: "\f141"; }
.flaticon-feather-duster:before { content: "\f142"; }
.flaticon-newspaper:before { content: "\f143"; }
.flaticon-snack:before { content: "\f144"; }
.flaticon-bowling:before { content: "\f145"; }
.flaticon-toothbrush:before { content: "\f146"; }
.flaticon-passport:before { content: "\f147"; }
.flaticon-washbasin:before { content: "\f148"; }
.flaticon-credit-card:before { content: "\f149"; }
.flaticon-breakfast:before { content: "\f14a"; }
.flaticon-taxi:before { content: "\f14b"; }
.flaticon-parking:before { content: "\f14c"; }
.flaticon-hotel-signal:before { content: "\f14d"; }
.flaticon-television:before { content: "\f14e"; }
.flaticon-elevator:before { content: "\f14f"; }
.flaticon-power-socket:before { content: "\f150"; }
.flaticon-pool:before { content: "\f151"; }
.flaticon-alarm-clock:before { content: "\f152"; }
.flaticon-telephone:before { content: "\f153"; }
.flaticon-no-fire:before { content: "\f154"; }
.flaticon-hair-dryer:before { content: "\f155"; }
.flaticon-key:before { content: "\f156"; }
.flaticon-wifi:before { content: "\f157"; }
.flaticon-customer-service:before { content: "\f158"; }
.flaticon-single-bed:before { content: "\f159"; }
.flaticon-cleaner:before { content: "\f15a"; }
.flaticon-soap:before { content: "\f15b"; }
.flaticon-laundry:before { content: "\f15c"; }
.flaticon-dinner:before { content: "\f15d"; }
.flaticon-no-smoking:before { content: "\f15e"; }
.flaticon-hotel:before { content: "\f15f"; }
.flaticon-air-conditioning:before { content: "\f160"; }
.flaticon-double-bed:before { content: "\f161"; }
.flaticon-strongbox:before { content: "\f162"; }
.flaticon-barbershop:before { content: "\f163"; }
    
    $font-Flaticon-iron-1: "\f100";
    $font-Flaticon-door-hanger-1: "\f101";
    $font-Flaticon-food: "\f102";
    $font-Flaticon-rooms: "\f103";
    $font-Flaticon-socket: "\f104";
    $font-Flaticon-luggage: "\f105";
    $font-Flaticon-egg: "\f106";
    $font-Flaticon-wifi-1: "\f107";
    $font-Flaticon-bathtub: "\f108";
    $font-Flaticon-hotel-6: "\f109";
    $font-Flaticon-telephone-1: "\f10a";
    $font-Flaticon-maid: "\f10b";
    $font-Flaticon-tray: "\f10c";
    $font-Flaticon-bathrobe: "\f10d";
    $font-Flaticon-mirror: "\f10e";
    $font-Flaticon-bed: "\f10f";
    $font-Flaticon-receptionist-1: "\f110";
    $font-Flaticon-calendar: "\f111";
    $font-Flaticon-hotel-5: "\f112";
    $font-Flaticon-bell-1: "\f113";
    $font-Flaticon-air-conditioner: "\f114";
    $font-Flaticon-24-hours-1: "\f115";
    $font-Flaticon-washing-machine: "\f116";
    $font-Flaticon-towel-1: "\f117";
    $font-Flaticon-coffee: "\f118";
    $font-Flaticon-elevator-1: "\f119";
    $font-Flaticon-card: "\f11a";
    $font-Flaticon-passport-1: "\f11b";
    $font-Flaticon-hair-dryer-1: "\f11c";
    $font-Flaticon-hotel-4: "\f11d";
    $font-Flaticon-wine: "\f11e";
    $font-Flaticon-interior-design: "\f11f";
    $font-Flaticon-no-smoking-1: "\f120";
    $font-Flaticon-hotel-3: "\f121";
    $font-Flaticon-hotel-2: "\f122";
    $font-Flaticon-key-1: "\f123";
    $font-Flaticon-safe-box: "\f124";
    $font-Flaticon-receptionist: "\f125";
    $font-Flaticon-24-hours: "\f126";
    $font-Flaticon-taxi-1: "\f127";
    $font-Flaticon-steak: "\f128";
    $font-Flaticon-money: "\f129";
    $font-Flaticon-parking-1: "\f12a";
    $font-Flaticon-family: "\f12b";
    $font-Flaticon-scissors: "\f12c";
    $font-Flaticon-sunbed: "\f12d";
    $font-Flaticon-swimming-pool: "\f12e";
    $font-Flaticon-tv: "\f12f";
    $font-Flaticon-hotel-1: "\f130";
    $font-Flaticon-bike: "\f131";
    $font-Flaticon-lobby-boy: "\f132";
    $font-Flaticon-plumber: "\f133";
    $font-Flaticon-iron: "\f134";
    $font-Flaticon-open-sign: "\f135";
    $font-Flaticon-location: "\f136";
    $font-Flaticon-golf: "\f137";
    $font-Flaticon-document: "\f138";
    $font-Flaticon-roll: "\f139";
    $font-Flaticon-clock: "\f13a";
    $font-Flaticon-door-hanger: "\f13b";
    $font-Flaticon-bell: "\f13c";
    $font-Flaticon-suitcase: "\f13d";
    $font-Flaticon-bathroom: "\f13e";
    $font-Flaticon-kettle: "\f13f";
    $font-Flaticon-towel: "\f140";
    $font-Flaticon-beer: "\f141";
    $font-Flaticon-feather-duster: "\f142";
    $font-Flaticon-newspaper: "\f143";
    $font-Flaticon-snack: "\f144";
    $font-Flaticon-bowling: "\f145";
    $font-Flaticon-toothbrush: "\f146";
    $font-Flaticon-passport: "\f147";
    $font-Flaticon-washbasin: "\f148";
    $font-Flaticon-credit-card: "\f149";
    $font-Flaticon-breakfast: "\f14a";
    $font-Flaticon-taxi: "\f14b";
    $font-Flaticon-parking: "\f14c";
    $font-Flaticon-hotel-signal: "\f14d";
    $font-Flaticon-television: "\f14e";
    $font-Flaticon-elevator: "\f14f";
    $font-Flaticon-power-socket: "\f150";
    $font-Flaticon-pool: "\f151";
    $font-Flaticon-alarm-clock: "\f152";
    $font-Flaticon-telephone: "\f153";
    $font-Flaticon-no-fire: "\f154";
    $font-Flaticon-hair-dryer: "\f155";
    $font-Flaticon-key: "\f156";
    $font-Flaticon-wifi: "\f157";
    $font-Flaticon-customer-service: "\f158";
    $font-Flaticon-single-bed: "\f159";
    $font-Flaticon-cleaner: "\f15a";
    $font-Flaticon-soap: "\f15b";
    $font-Flaticon-laundry: "\f15c";
    $font-Flaticon-dinner: "\f15d";
    $font-Flaticon-no-smoking: "\f15e";
    $font-Flaticon-hotel: "\f15f";
    $font-Flaticon-air-conditioning: "\f160";
    $font-Flaticon-double-bed: "\f161";
    $font-Flaticon-strongbox: "\f162";
    $font-Flaticon-barbershop: "\f163";